@model V2.Models.Artiste

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artiste</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
    @if (Model.Biographie.FirstOrDefault() != null)
    {
        <p>Biographie : @Model.Biographie.FirstOrDefault().Biographie1</p> 
    }

    Chanson(s) : 
    @foreach (var c in Model.Jouer )
    {
        <div>Titre : @Html.ActionLink(@c.Version.Chanson.Titre, "Details", "Versions", new { id = @c.VersionID }, null),
        Instrument : @c.Instrument.Nom</div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtisteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
