@model V2.Models.Biographie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Biographie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Biographie1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biographie1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDernierChangement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDernierChangement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artiste.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artiste.Nom)
        </dd>

    </dl>
</div>
@if (Request.IsAuthenticated)
{ 
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BiographieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}
