@model IEnumerable<V2.Models.Chanson>

@{
    ViewBag.Title = "Search";
}
<style>
    .container2 {
        border: 1px solid;
        border-color: GrayText;
    }

        .container2 div {
        }

        .container2 .header {
            background-color: black;
            padding: 2px;
            cursor: pointer;
            font-weight: bold;
        }

        .container2 .content {
            /*display: none;*/
            padding: 5px;
        }
</style>
<h2>Résultats de la recherche(@Model.Count()):</h2>

@foreach (var chanson in Model)
{

    <div class="container2">
        <div class="header" style="width:100%">@chanson.Titre </div>
        <div class="content">
            <span style="position:relative;width:1000px;text-align:right">Genre : @chanson.Genre.Nom</span>
            <table class="table" style="font-size:larger">
                <tr>
                    <th class="tab-content  col-md-2" style="font-size:larger">

                    </th>
                    <th class="tab-content  col-md-2">
                        @Html.DisplayNameFor(model => model.First().Version.First().Prix)
                    </th>
                    <th class="tab-content  col-md-2">
                        Album
                    </th>

                    <th class="tab-content  col-md-2">Options</th>

                    <th class="tab-content  col-md-2">Artiste(s)</th>
                </tr>
                @foreach (var item in chanson.Version)
                {
                    if (item.Visible != false)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Commentaire)
                                @if (item.Commentaire == null || item.Commentaire == "")
                                {
                                    <span>-----------</span>
                                }
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Prix)
                                @if (item.Prix == null || item.Prix == 0)
                                {
                                    <span>-----------</span>
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Album.Nom)

                            </td>
                            @if (Request.IsAuthenticated && User.IsInRole("Administrateur"))
                            {
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.VersionID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.VersionID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.VersionID })
                                </td>
                            }
                            @if (!Request.IsAuthenticated)
                            {
                                <td>@Html.ActionLink("Details", "Details", new { id = item.VersionID })</td>
                            }
                            <td>
                                @if (item.Jouer.Count == 0)
                                {
                                    <span>-----------</span>

                                }
                                @if (item.Jouer.Count <= 3 && item.Jouer.Count > 0)
                                {
                                    foreach (var artiste in item.Jouer)
                                    {
                                        @Html.ActionLink(artiste.Artiste.Nom, "Details", "Artistes", new { id = artiste.Artiste.ArtisteID }, null)
                                        <span>(@artiste.Instrument.Nom) </span><br />
                                    }
                                }
                                @if (item.Jouer.Count > 3)
                                {
                                    @Html.ActionLink("Voir tous les artistes", "Details", new { id = item.VersionID })
                                }
                            </td>
                        </tr>
                    }

                }

            </table>

        </div>
    </div>

}

