@model IEnumerable<V2.Models.Album>
<head>
	<title>Index</title>
	@{
		ViewBag.Title = "Index";
	}
    <link rel="stylesheet" type="text/css" href="~/Content/album.css">
	<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		function changeImage(element) {
			var right = "/Images/unlock.png";
			var left = "/Images/lock.png";
			element.src = element.bln ? right : left;
			element.bln = !element.bln;
		}
		
	 </script>

</head>
@if (Request.IsAuthenticated && User.IsInRole("Administrateur"))
{ 
<p>
	@Html.ActionLink("Create New", "Create")
</p>
}


@foreach (var c in Model)
{ 
   <div class="flip-container" ontouchstart="this.classList.toggle('hover');" id="flip-toggle">
	   @*<div class="bande-noire-top-front"></div>
	   <div class="bande-noire-bottom-front"></div>*@
	<div class="flipper">
		<div class="front">
			<h3 class="titrealbum">@c.Nom</h3>
			<div class="front-logo" style="background: url(../../Images/1NkYHZU.png) no-repeat center center; background-size:contain"></div>
		</div>
		<div class="back">
			<h3 class="titrealbum">@c.Nom</h3>
			
			<h3>Chansons</h3>
			<table class="table">
				@if (c.Version.Count < 7)
				{ 
					foreach (var item in c.Version)
					{
					if (item.Visible != false)
					{
						<tr >
							<td style="font-size:x-large" class="col-lg-2">
								@Html.DisplayFor(modelItem => item.Chanson.Titre)
							</td>                       
							<td class="col-lg-4">
								@Html.DisplayFor(modelItem => item.Commentaire)
							</td>          

							<td class="col-lg-2">
								@if (item.Prix != null)
								{
									@Html.DisplayFor(modelItem => item.Prix)<span>$</span>
								}
								@if (item.Prix == null)
								{
									<span>-----</span>
								}
							</td>
							<td class="col-lg-4">@Html.ActionLink("Plus", "Details", "Versions", new { id = item.VersionID }, new { @class = "seemore" })</td>


						</tr>
					}
					}
				}
				@if (c.Version.Count >= 7)
				{
					foreach (var item in c.Version.Take(6))
					{
						if (item.Visible != false)
						{
							<tr>
								<td style="font-size:x-large" class="col-lg-2">
									@Html.DisplayFor(modelItem => item.Chanson.Titre)
								</td>
								<td class="col-lg-4">
									@Html.DisplayFor(modelItem => item.Commentaire)
								</td>

								<td class="col-lg-4">
									@if (item.Prix != null)
									{ 
										@Html.DisplayFor(modelItem => item.Prix)<span>$</span>                                            
									}
									@if (item.Prix == null)
									{
										<span>-----</span>
									}
								</td>
								<td class="col-lg-4">@Html.ActionLink("Plus", "Details", "Versions", new { id = item.VersionID }, new { @class = "seemore" })</td>


							</tr>
						}
					}
					@Html.ActionLink("Voir toutes les chansons", "details", new { id = c.AlbumID })
				}
				</table>
			@if (c.Prix != null)
			{
				<div class="addtocart">
					@Html.DisplayFor(modelItem => c.Prix)<span>$ - </span>
					@Html.ActionLink("Ajouter au panier", "AddAlbumToCart",
					"ShoppingCart", new { id = c.AlbumID }, "")</div>
			}
			<div class="back-lock" onclick="document.querySelector('#flip-toggle').classList.toggle('hover');">
				<img id="imgClickandChange" onclick="changeImage(this)" src="~/Images/unlock.png" width="25" height="25" />
			</div>

			</div>
	   

	</div>
   </div>
	
}
	   




@*@foreach (var album in Model)
	{

		<h3>
			Album : @Html.DisplayFor(c => album.Nom) &nbsp; @if (album.Prix == null)
															{
															   <span> - </span> @Html.DisplayFor(c => album.Prix)
															}


	@if (Request.IsAuthenticated && User.IsInRole("Administrateur"))
	{
			<p style="font-size:medium; text-align:right">
				@Html.ActionLink("Edit", "Edit", new { id = album.AlbumID }) |
				@Html.ActionLink("Details", "Details", new { id = album.AlbumID }) |
				@Html.ActionLink("Delete", "Delete", new { id = album.AlbumID })
			</p>
	}
			@if (!Request.IsAuthenticated && User.IsInRole("Administrateur"))
			{
				<p>@Html.ActionLink("Details", "Details", new { id = album.AlbumID })</p>
			}
		</h3>
		<p style="text-align:right">@String.Format("{0:C2}", album.Prix)</p>
		<div class="container2">

			<table class="table">
				<tr>
					<th class="tab-content  col-md-5">

					</th>
					<th class="tab-content  col-md-3">
						@Html.DisplayNameFor(model => model.First().Version.First().Demo)
					</th>
					<th class="tab-content  col-md-1">
						@Html.DisplayNameFor(model => model.First().Version.First().Prix)
					</th>
					<th class="tab-content  col-md-3">
						Chanson
					</th>
				</tr>
				@foreach (var item in album.Version)
				{
					if (item.Visible != false)
					{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Commentaire)
						</td>

						<td>
							@Html.Raw(item.Demo)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.Prix)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.Chanson.Titre)
						</td>

					</tr>
					}
				}
			</table>
		</div>

	}*@