@model V2.Models.Version

@{
    ViewBag.Title = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Chanson.Titre)
    @if (Model.Commentaire != null)
    {
        <span> - </span>

        @Html.DisplayFor(model => model.Commentaire)
    }
</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Demo != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.Demo)
        </dt>

        <dd>
            @Html.Raw(Model.Demo)
        </dd>
        }
@if (Model.Duree != null)
        {
        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duree)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
@if (Model.Prix != null)
{ 
        <dd>
            @Html.DisplayFor(model => model.Prix)$
        </dd>
}
@if (Model.Prix == null)
{
    <dd>
        Prix non disponible
    </dd>
}
        <dt>
            Album
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Nom)
        </dd>


    </dl>
    <div class="form-group">
        <span>Artiste(s) : </span>
        @foreach (var artiste in Model.Jouer)
        {
            @Html.ActionLink(artiste.Artiste.Nom, "Details", "Artistes", new { id = artiste.Artiste.ArtisteID }, null);
            <span> (@artiste.Instrument.Nom) </span>
        }
        <br />
        <br />
    </div>

</div>
@if (Model.Prix != null && Model.Path != null)
{
    <h4>
        @Html.ActionLink("Ajouter au panier", "AddVersionToCart",
        "ShoppingCart", new { id = Model.VersionID }, "")
</h4>
}   <p>
@Html.ActionLink("Retourner à la liste des chansons", "Index")
    </p>
@if (Request.IsAuthenticated && User.IsInRole("Administrateur"))
{<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.VersionID }) |
    </p>
}
