@model IEnumerable<V2.Models.Version>

@{
    ViewBag.Title = "Versions";
}
<div></div>


    <h1>
    @Html.DisplayFor(model => model.First().Chanson.Titre)
    </h1>
    <table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Duree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
       
@if (Request.IsAuthenticated)
{ 
        <th></th>
}
    </tr>
    
    @foreach (var item in Model)
    {
        if (item.Visible == true || 1 == 1)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.Commentaire)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Duree)
                </td>
                <td>
                    @if (item.Prix >= 0)
                    {
                        @Html.DisplayFor(modelItem => item.Prix)
                    }
                    else
                    {
                        <p>-----</p>
                    }
                </td>
@if (Request.IsAuthenticated) { 
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VersionID }) |
                    @Html.ActionLink("Details", "Details","Versions", new { id = item.VersionID }, null) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VersionID })
                </td>
}
            </tr>
        }
    }

</table>