@model  V2.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link

            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                function (data) {
                    // Successful requests get here
                    // Update the page elements
                    if (data.ItemCount == 0) {
                        $('#row-' + data.DeleteId).fadeOut('slow');
                    } else {
                        $('#item-count-' + data.DeleteId).text(data.ItemCount);
                    }
                    $('#cart-total').text(data.CartTotal);
                    $('#update-message').text(data.Message);
                    $('#cart-status').text('Cart (' + data.CartCount + ')');
                });
            }
        });
    });
    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
        // Update the page elements
        if (data.ItemCount == 0) {
            $('#row-' + data.DeleteId).fadeOut('slow');
        } else {
            $('#item-count-' + data.DeleteId).text(data.ItemCount);
        }
        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart (' + data.CartCount + ')');
    }
</script>
<h3>
    Réviser votre panier
</h3>
<p class="button">


    @using (Html.BeginForm("SetAdresse", "ShoppingCart", FormMethod.Get))
    {
        <input type='submit' name="payment_amt" value="Acheter" />
    }

</p>
<div id="update-message">
</div>

    @foreach (var item in Model.CartItems)
    {
        if (item.Album != null)
        {
            <table style="font-size:larger">
                <tr>
                    <th>
                        Nom de l'album
                    </th>
                    <th>
                        Prix
                    </th>
                    <th class="col-sm-1"></th>
                    <th></th>
                </tr>
                <tr id="row-@item.AchatID">
                    <td>
                        @Html.ActionLink(item.Album.Nom,
                    "Details", "Store", new { id = item.AlbumID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.Album.Prix)
                    </td>
                    <td></td>
                    <td>
                        @Html.ActionLink("Retirer la chanson du panier", "RemoveAlbumFromCart", new { id = item.VersionID })
                    </td>
                </tr>

            </table>

        }
        if (item.Album == null)
        {
            <table style="font-size:larger">
                <tr>
                    <th class="col-md-3">
                        Nom de la chanson
                    </th>
                    <th class="col-md-3">
                        Prix
                    </th>
                    <th class="col-sm-1"></th>
                    <th></th>
                </tr>
                <tr id="row-@item.AchatID">
                    <td class="col-md-3">
                        @Html.ActionLink(item.Version.Chanson.Titre,
                "Details", "Store", new { id = item.VersionID }, null)
                    </td>
                    <td class="col-md-3"    >
                        @Html.DisplayFor(i => item.Version.Prix)
                    </td>
                    <td></td>

                    <td>
                       @Html.ActionLink("Retirer la chanson du panier", "RemoveVersionFromCart", "ShoppingCart",new { id = item.VersionID }, "")
                    </td>
                </tr>
            </table>
        }
    }

                <tr>
                    <td>
                        Total
                    </td>
                    <td></td>
                    <td></td>

                    <td id="cart-total">
                        @Html.DisplayFor(modelitem => Model.CartTotal)$
                    </td>
                </tr>



